.git
venv
output
config.json
*.mp4
prof.out
__pycache__
*.pyc
hosting-public
.firebase
fonts_emb/_meta/*
!fonts_emb/_meta/qa.json
templates/*.PHV
templates/*.MHV
templates/*.phv
templates/*.mhv
fonts_emb/ags_garamond_latin_grec
fonts_emb/amitaclo
fonts_emb/amitaclo_small
fonts_emb/art_nouveau
fonts_emb/dejavufont
fonts_emb/dinomouse72
fonts_emb/emilio_20_simple
fonts_emb/emilio_20_simple_small
fonts_emb/manga_impact
fonts_emb/milli_marif_bold
fonts_emb/pixel10
